
/GroovyMagElasticSearch/.settings
/GroovyMagElasticSearch/.classpath
/GroovyMagElasticSearch/.project
/GroovyMagElasticSearch/data
/GroovyMagElasticSearch/lib
/GroovyMagElasticSearch/scripts
/GroovyMagElasticSearch/src
/GroovyMagElasticSearch/target
/GroovyMagElasticSearch/test
/GroovyMagSearchable/.classpath
/GroovyMagSearchable/.project
/GroovyMagSearchable/.settings
/GroovyMagSearchable/lib
/GroovyMagSearchable/scripts
/GroovyMagSearchable/src
/GroovyMagSearchable/target
/GroovyMagSearchable/test
/GroovyMagSolr/.classpath
/GroovyMagSolr/.project
/GroovyMagSolr/.settings
/GroovyMagSolr/lib
/GroovyMagSolr/scripts
/GroovyMagSolr/src
/GroovyMagSolr/target
/GroovyMagSolr/test
